@page "/dupli-faktorijel"

<h3>Dupli Faktorijel Kalkulator</h3>

<input type="number" @bind="pocetnibr" />
<button @onclick="ForLoop">Izračunaj (For Petlja)</button>
<button @onclick="WhileLoop">Izračunaj (While Petlja)</button>

<p>Rezultat: @rezzz</p>

@code {
    private int pocetnibr = 0;
    private long rezzz = 1;

    private void ForLoop()
    {
        rezzz = 1;
        for (int i = pocetnibr; i > 1; i -= 2)
        {
            rezzz *= i;
        }
    }

    private void WhileLoop()
    {
        rezzz = 1;
        int i = pocetnibr;
        while (i > 1)
        {
            rezzz *= i;
            i -= 2;
        }
    }
}
